<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Exercices</title>
</head>
<body>
    <h2>Save Users Details:</h2>
    <form action ="/database_users_form" method = "POST">

        <label for = "id_name">Name:</label>
        <input type = "text" name = "name_name" id = "id_name">
        
        <label for = "id_email">Email:</label>
        <input type = "email" name = "name_email" id = "id_email">
        
        <label for = "id_street">Street</label>
        <input type = "text" name = "name_street" id = "id_street">

        <label for = "id_streetNumber">Street Number:</label>
        <input type = "number" name = "name_streetNumber" id = "id_streetNumber">
        
        <input type = "submit" value = "submit">
    </form>

    <hr>

    <h2>Retrieve Users details:</h2>

    <form action = "/listUser" method ="GET">
        <input type = "submit" value = "list">
    </form>
    
    <%if (typeof userList !== 'undefined' && userList.length > 0) { %>

        <ul>
            <%userList.forEach(function(data){%>

                <li>
                    <h3> <%= data.name %> </h3>
                    <p> <%= data.email %> </p>
                    </p> <%= data.fullAddress() %> </p>
                </li>
        
            <%})%>
        </ul>

    <%}%>

</body>
</html>